:root {
  --branco: #ffff;
  --cinza: #1e1e1e;
  --preto: #181818;
}

body {
  background-color: var(--cinza);
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: solid 2px var(--branco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 12.75%;
  padding: 20px 0;
}

.logoContainer {
  margin-left: 20px;
}

.menuContainer a {
  color: var(--branco);
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  padding: 8px 30px;
  border-radius: 10px;
}

.menuContainer a:hover {
  background-color: var(--branco);
  color: var(--preto);
  transition: 0.4s;
}

.containerBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 12.75% 0 12.75%;
}

.textBanner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--branco);
}

.textBanner h1 {
  margin-bottom: 5px;
}


.textBanner h2 {
  margin-bottom: 40px;
  font-weight: 500;
}

.textBanner a {
  height: 50px;
  width: 290px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cinza);
  background-color: var(--branco);
  margin: 10px 0;
  align-content: center;
  text-align: center;
  font-weight: 700;
  border-radius: 12px;
}

.textBanner a:hover {
  background-color: var(--preto);
  color: var(--branco);
  transition: 0.4s;
}

.imageBanner img {
  border-radius: 20px;
}

.containerSobre {
  margin: 80px 12.75% 0 12.75%;
  color: var(--branco);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  background: #1e1e1e;
  box-shadow: 12px 12px 23px #121212,
    -12px -12px 23px #2a2a2a;
  align-items: center;
}

.containerSobre h1 {
  margin: 40px 0;
  font-size: 40px;

}

.containerSobre p {
  margin: 0 7%;
  font-size: 20px;

}

.containerSobre img {
  width: 180px;
  margin: 40px 0;
}

.containerBlocos {
  margin: 80px 12.75%;
  color: var(--preto);
  display: flex;
  flex-direction: row;
}

.bloco {
  background-color: var(--branco);
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  align-items: center;
  border-radius: 12px;
}

.bloco:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.6);
  transition: 0.4s;
}

.bloco i {
  font-size: 45px;
  margin: 20px 20px 20px 20px;
}

.bloco h4 {
  width: 50%;
  padding-left: 20px;
  border-left: solid 4px var(--cinza);
}

.containerServicos {
  margin: 80px 12.75% 80px 12.75%;
  color: var(--branco);
  display: flex;
  flex-direction: row;
  text-align: left;
  border-radius: 30px;
  background: #1e1e1e;
  box-shadow: 12px 12px 23px #121212,
    -12px -12px 23px #2a2a2a;
}

.containerServicos .textServicos {
  flex: 1;
}

.textServicos h1 {
  margin: 40px 0 40px 7%;
  font-size: 40px;
}

.textServicos h4 {
  margin: 0 0 0 7%;
  font-size: 30px;
}

.textServicos p {
  margin: 0 0 40px 7%;
  font-size: 25px;
}

.containerServicos .imageServicos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7%;
}

.containerServicos .imageServicos img {
  width: 500px;

}

.containerPortifolio {
  margin: 0px 12.75%;
  color: var(--preto);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerPortifolio img {
  width: 295px;
  height: 198px;
  border-radius: 20px;
  margin: auto;
}

.box {
  width: 340px;
  height: 420px;
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  padding: 12px 12px 0px 12px;
  border-radius: 20px;
}

.box h4,
p {
  text-align: left;
  width: 95%;
  margin-top: 12px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.containerPortifolio a {
  width: 236px;
  height: 44px;
  color: var(--branco);
  background-color: var(--cinza);
  text-decoration: none;
  font-weight: 500;
  padding: 8px 30px;
  border-radius: 10px;
  margin-top: 27px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}